html, body, #map {
    margin: 0;
    padding:0;
    font-weight: 300;
    font-family: sans-serif;
    background: #191a1a;    
}

body {
  background: #191a1a;
  background-attachment: fixed;
  color: white;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

#map {
  position: absolute;
  top: 300px;
  bottom: 0;
  width: 65%;
}

.notifications-container {
  position: absolute;
  display: none;
  top: 300px;
  bottom: 0;
  right: 0;
  width: 35%;  
}

.notifications {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 0 30px;
  float: left;
}

.notifications .dates {
  float: left;
  padding: 0 35px 48px 0;
  width: 100%;
}

.notifications-line {
  float: left;
  width: 100%;
  padding-bottom: 12px;
  position: relative;
}

.notifications-line > div {
  float: left;
}

.notifications-line .label {
  width: 240px;
  position: relative;
}

.notifications-line .colon {
  width: 30px;
}

.notifications-line .value {
  font-weight: normal;
}

.header {
  height: 112px;
  float: left;
  width: 100%;  
  border-bottom: 1px solid #7b7b7b;
}

.logo {
  float: left;
  width: 140px;
  margin: 40px 20px 30px 90px;
  box-sizing: border-box;  
}

.logo .icon {
  width: 36px;
  height: 35px;
  margin-top: 3px;
  margin-left: 4px;
  background: white;
  float: left;  

  -webkit-mask-image: url(pronto_logo.svg);
  -webkit-mask-size: 100%;
  mask-image: url(pronto_logo.svg);
  mask-size: 100%;    
}

.logo .name {
  font-size: 20px;
  font-weight: bold;
  float: left;
  padding: 10px;
  letter-spacing: 1px;
}

.tv-switch {
  border-left: 1px solid #7b7b7b;
  width: 412px;
  height: 112px;
  float: right;
  box-sizing: border-box;
  padding: 35px 80px 30px;
}

.dates {
  float: right;
  padding: 48px 35px 35px 35px;
  width: 335px;  
}

.dates div {
  float: left;
  letter-spacing: 2px;
}

.dates .label {
  white-space: nowrap;  
}

.dates .date {
  margin-right: 20px;  
}

.dates .date .icon {
  width: 25px;
  height: 25px;
  float: left;
  background-image: url(calendar.svg);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center right;
  margin-right: 7px;
}

.dates .hour {
  padding-left: 10px;
}

.dates .hour .icon {
  width: 25px;
  height: 25px;
  float: left;
  background-image: url(clock.svg);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center right;
  margin-right: 7px;
}

.tv-switch .label {
  text-transform: uppercase;
  float: left;
  padding: 13px 11px 16px 12px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
}

.tv-switch .switch {
  width: 50px;
  height: 50px;
  float: left;
  background-image: url(switch.svg);
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center right;
}

.fullscreen-mode {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 90px;
  top: 43px;
  background-image: url(expand.svg);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.title-container {
  top: 112px;
  left: 0;
  position: absolute;
  padding: 60px 20px 30px 90px;
}

.title-container .berth {
  font-size: 70px;
}

.alert-icon {
  background: #fed93a;
  color: black;
  border-radius: 100%;
  text-align: center;
  width: 30px;
  position: absolute;
  right: 69px;
  top: 0;
}

.alert-badget .label .number {
  padding-right: 5px;
}

.alert-description {
  margin-top: 30px;
}

.notifications-line .value {
  width: calc(100% - 273px);
}

.notifications-line .alert-title {
  font-weight: bold;
  padding-bottom: 40px;
}

.alert-badget {
  background: #fed93a;
  padding: 10px;
  color: black;
  right: 35%;
  position: relative;
  float: right;
  top: 105px;
}

.alert-badget div {
  float: left;
}

.alert-badget .label {
  padding-left: 10px;
  text-transform: uppercase;
}

.alert-badget .alert-icon {
  background: white;
  color: black;
  border-radius: 100%;
  text-align: center;
  width: 30px;
  position: relative;
  right: auto;
}

.alert-marker {
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 10px;
  box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);

  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);  
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}